body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.cv-container {
    margin-top: -10px;
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
    background: black;
    color: white;
    padding: 20px;
    width: 30%;
}
.sidebar h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 5px 0;
}
.photo-container {
    text-align: center; 
    margin-bottom: 20px;
}
.photo-container img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid blue;
    border-right: 3px solid red;
    object-fit: cover;
    border-collapse:collapse;
    
}
.lien{
    color: blue;
}
.content {
    margin-left: 20px;
    padding: 20px;
    width: 70%;
}
.content h1 {
    color: black;
}
.content .description {
    font-style: italic;
    margin-bottom: 20px;
}
.content h2 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-top: 20px;
}
.content ul {
    padding-left: 20px;
}
.description,#nom{
    text-align: center;
}
.content p strong{
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}
